<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funtalk.mapper.TbSEmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.funtalk.pojo.TbSEmployee" >
    <id column="employee_id" property="employeeId" jdbcType="INTEGER" />
    <result column="employee_name" property="employeeName" jdbcType="VARCHAR" />
    <result column="work_no" property="workNo" jdbcType="VARCHAR" />
    <result column="work_pwd" property="workPwd" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="dealer_id" property="dealerId" jdbcType="INTEGER" />
    <result column="if_valid" property="ifValid" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    employee_id, employee_name, work_no, work_pwd, city_code, create_time, dealer_id, 
    if_valid, last_login_time, role_id, cust_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.funtalk.pojo.TbSEmployeeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_s_employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_s_employee
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_s_employee
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.funtalk.pojo.TbSEmployeeExample" >
    delete from tb_s_employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.funtalk.pojo.TbSEmployee" >
    insert into tb_s_employee (employee_id, employee_name, work_no, 
      work_pwd, city_code, create_time, 
      dealer_id, if_valid, last_login_time, 
      role_id, cust_id)
    values (#{employeeId,jdbcType=INTEGER}, #{employeeName,jdbcType=VARCHAR}, #{workNo,jdbcType=VARCHAR}, 
      #{workPwd,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{dealerId,jdbcType=INTEGER}, #{ifValid,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{roleId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.funtalk.pojo.TbSEmployee" >

      <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="employeeId">
          SELECT LAST_INSERT_ID()
      </selectKey>

    insert into tb_s_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="employeeName != null" >
        employee_name,
      </if>
      <if test="workNo != null" >
        work_no,
      </if>
      <if test="workPwd != null" >
        work_pwd,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dealerId != null" >
        dealer_id,
      </if>
      <if test="ifValid != null" >
        if_valid,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="employeeId != null" >
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="employeeName != null" >
        #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null" >
        #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="workPwd != null" >
        #{workPwd,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealerId != null" >
        #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="ifValid != null" >
        #{ifValid,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.funtalk.pojo.TbSEmployeeExample" resultType="java.lang.Integer" >
    select count(*) from tb_s_employee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_s_employee
    <set >
      <if test="record.employeeId != null" >
        employee_id = #{record.employeeId,jdbcType=INTEGER},
      </if>
      <if test="record.employeeName != null" >
        employee_name = #{record.employeeName,jdbcType=VARCHAR},
      </if>
      <if test="record.workNo != null" >
        work_no = #{record.workNo,jdbcType=VARCHAR},
      </if>
      <if test="record.workPwd != null" >
        work_pwd = #{record.workPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dealerId != null" >
        dealer_id = #{record.dealerId,jdbcType=INTEGER},
      </if>
      <if test="record.ifValid != null" >
        if_valid = #{record.ifValid,jdbcType=VARCHAR},
      </if>
      <if test="record.lastLoginTime != null" >
        last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_s_employee
    set employee_id = #{record.employeeId,jdbcType=INTEGER},
      employee_name = #{record.employeeName,jdbcType=VARCHAR},
      work_no = #{record.workNo,jdbcType=VARCHAR},
      work_pwd = #{record.workPwd,jdbcType=VARCHAR},
      city_code = #{record.cityCode,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      dealer_id = #{record.dealerId,jdbcType=INTEGER},
      if_valid = #{record.ifValid,jdbcType=VARCHAR},
      last_login_time = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      role_id = #{record.roleId,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.funtalk.pojo.TbSEmployee" >
    update tb_s_employee
    <set >
      <if test="employeeName != null" >
        employee_name = #{employeeName,jdbcType=VARCHAR},
      </if>
      <if test="workNo != null" >
        work_no = #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="workPwd != null and workPwd !=''" >
        work_pwd = #{workPwd,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealerId != null" >
        dealer_id = #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="ifValid != null" >
        if_valid = #{ifValid,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null" >
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=VARCHAR},
      </if>
    </set>
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.funtalk.pojo.TbSEmployee" >
    update tb_s_employee
    set employee_name = #{employeeName,jdbcType=VARCHAR},
      work_no = #{workNo,jdbcType=VARCHAR},
      work_pwd = #{workPwd,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      dealer_id = #{dealerId,jdbcType=INTEGER},
      if_valid = #{ifValid,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      role_id = #{roleId,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=VARCHAR}
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </update>

  <select id="queryList" resultMap="BaseResultMap">

      select employee_id,employee_name,work_no,create_time,if_valid,last_login_time,
              <!-- (select dealer_name from tb_p_dealer b where b.dealer_id=a.dealer_id) dealer_name, -->
              role_id,cust_id,(select cust_name from tb_s_cust c where c.cust_id = a.cust_id) custname
              from tb_s_employee a  WHERE  1=1
    <if test="username != null and username !=''" >
      and  employee_name like '%${username}%'
    </if>
    order by employee_id  limit #{startindex},#{pagesize}
  </select>

  <select id="queryCount" resultType="int">
    select count(*)  from tb_s_employee WHERE  1=1
    <if test="username != null and username !=''" >
      and  employee_name like '%${username}%'
    </if>
  </select>


  <select id="getUserByName"  resultMap="BaseResultMap">
    SELECT * FROM tb_s_employee WHERE IF_VALID=1 AND WORK_NO=#{userName}
  </select>

  <select id="getUserById"  resultMap="BaseResultMap"  parameterType="java.lang.String">
    SELECT * FROM tb_s_employee WHERE employee_id=#{employee_id}
  </select>

</mapper>